{
  "env": {
    "development": {
      "presets": ["stage-2"]
    },
    "production": {
      "presets": [["es2015", {"modules": false, "loose": true}]],
      "plugins": ["external-helpers"]
    }
  }
}
